@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans';
  padding: 25px;
}

 #chat-box {
  width: 100%;
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  background: #F5F5F5;
  border: 2px solid #eee;
}

#chat-box p {
  margin: 0;
  padding: 5px;
}

#chat-box p span {
  font-weight: bold;
}

#chat-box p:nth-child(2n),
#users p:nth-child(2n)  {
  background: #eee;
}

#chat-input {
  width: 100%
}
#chat-input textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 75%;
}

.cust-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  background-color: #333;
  z-index: 50;
}

#pop-up {
  display: none;
  background: #eee;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 400px;
  height: 250px;
  z-index: 55;
}

#user-login {
  padding: 50px;
}

#user-login .error{
  color: red;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#user-login input {
  margin: 0 auto 25px auto;
  width: 90%;
  line-height: 40px;
  display: block;
  font-size: 24px;
}


#users {
  width: 100%;
  background-color: #F5F5F5;
}

#users p {
  margin: 0;
  padding:5px 25px;
  font-weight: bold;
}


/* Special Chat */
.whisper {
  color: purple;
}
