@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans';
}

main {
  margin: 50px 0 0 0;
}

.brand-logo {
  font-weight: bold;
  text-transform: uppercase;
}

 #chat-box {
  width: 100%;
  height: 400px;
  max-height: 500px;
  overflow-y: scroll;
  background: #F5F5F5;
  border: 2px solid #eee;
}

#chat-box p {
  margin: 0;
  padding: 5px;
}

#chat-box p span {
  font-weight: bold;
}

#chat-box p:nth-child(2n),
#users p:nth-child(2n)  {
  background: #eee;
}

#chat-input {
  width: 100%
}
#chat-input textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 75%;
}

.cust-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  background-color: #333;
  z-index: 50;
}
.pop-modal {
position: absolute;
top: 0;
width: 100%;
height: 100%;
z-index: 55;
}

#pop-up {
  width: 400px;
  margin:250px auto 0 auto;
  background: #eee;

}

#user-login {
  padding: 50px;
}

#user-login .error{
  color: red;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#user-login input {
  margin: 0 auto 25px auto;
  width: 90%;
  line-height: 40px;
  display: block;
  font-size: 24px;
}


#users {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
}

#users p {
  margin: 0;
  padding:5px 10px;
  font-weight: bold;
}


/* Special Chat */
.whisper {
  color: purple;
}
.command-response {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
  font-weight: bold;
}
